SERVER_PORT=3333

REDIS_HOST=localhost
REDIS_PORT=6379

RABBIT_HOST=amqp://localhost/

HOSTNAME=localhost
IP_ADDR=127.0.0.1
EUREKA_PORT=8081
EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=localhost

API_BARRAGEM=http://localhost:8082
