SERVER_PORT=3334

REDIS_HOST=localhost
REDIS_PORT=6379

MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USER=xxxxxxx
MAIL_PASS=xxxxxxx

ONE_SIGNAL_REST_KEY=xxxxxxx
ONE_SIGNAL_APP_ID=xxxxxxx

HOSTNAME=localhost
IP_ADDR=127.0.0.1
EUREKA_PORT=8081
EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=localhost
